* {
	box-sizing: border-box;
}
body {
	background-color: gray;
}

h1 {
	text-align: center;
}
div.food {
	color: white;
	border: 2px solid black;
	margin: 10px;
}

div.description {

	padding: 10px 10px 0px 10px;
	margin: 30px 5px 5px 5px;
}


#sushi {
	color: white;
	text-align: center;
	background-color: maroon;
	float: right;
	padding: 5px 50px 5px 50px;
	width: 150px;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}

#beef {
	color: black;
	text-align: center;
	background-color: teal;
	float: right;
	padding: 5px 50px 5px 50px;
	width: 150px;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}

#chicken {
	color: black;
	text-align: center;
	background-color: brown;
	float: right;
	
	padding: 5px 50px 5px 50px;
	width: 150px;

	border-bottom: 2px solid black;
	border-left: 2px solid black;
}




